mixin odds()
	section.odds.bg-white
		.section-head
			h2.h2.odds__title OEM решения от&nbsp;компании &laquo;Информатик&raquo;
			p.odds__subtitle.
				Компания &laquo;Информатик&raquo; вот уже 20&nbsp;лет разрабатывает и&nbsp;реализует лучшие решения в&nbsp;области лингвистических технологий, которые давно пользуются заслуженной популярностью и&nbsp;признанием во&nbsp;многих странах мира.
		.odds__content
			.odds__items-wrap
				.odds__items(data-odds-slider)
					.odds__item
						article.odds-item
							.odds-item__media
								img(src="img/multilang.svg", alt="Многоязычность", height="88" width="96")
							h3.h3.odds-item__title Передовые технологии обработки текста
							p.odds-item__text.
								Лингвистические и&nbsp;математические алгоритмы используются для контекстного поиска документов с&nbsp;учетом всех словоформ, нахождения синонимов, проверки грамматики, проверки орфографии.

					.odds__item
						article.odds-item
							.odds-item__media
								img(src="img/multitask.svg", alt="Многозадачность", height="88" width="85")
							h3.h3.odds-item__title Многофункциональные модули
							p.odds-item__text.
								Решение широкого класса задач, требующих средств поиска и&nbsp;анализа текстовой информации. Например, информационно-поисковые системы, аналитические системы и&nbsp;каталоги электронных документов.

					.odds__item
						article.odds-item
							.odds-item__media
								img(src="img/capacity.svg", alt="Производительность", height="88" width="89")
							h3.h3.odds-item__title Используются по&nbsp;всему&nbsp;миру
							p.odds-item__text.
								Samsung, Syngenta, Quantum Art, ALP, Яndex и&nbsp;многие другие используют морфологические модули &laquo;Информатик&raquo;

