mixin icon-check()
	svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 8.6 6.6', width='12', height='9' aria-hidden="true")
		path(d='M8.6 1.3c0-.1-.1-.3-.2-.4L7.7.2C7.6.1 7.5 0 7.4 0c-.2 0-.3.1-.4.2L3.3 3.8 1.7 2.2c-.1-.1-.3-.2-.4-.2s-.3.1-.4.2l-.7.7c-.1.1-.2.3-.2.4 0 .1.1.3.2.4l2 2 .8.8c0 .1.2.1.3.1.1 0 .3-.1.4-.2l.8-.8 4-4c.1 0 .1-.2.1-.3z')


mixin products-slider()
	.products-slider
		div(data-products-slider)
			.products-slider__item
				//- psi - products-slider-item
				article.psi
					h3.psi__title профессиональный
					p.psi__subtitle необходимый уровень
					ul.psi__list
						li
							span Проверка орфографии на&nbsp;русском, английском и&nbsp;украинском языках
							+icon-check()
						li
							span Грамматическая и&nbsp;стилистическая проверка
							+icon-check()
						li
							span Синонимы, антонимы и&nbsp;родственные слова
							+icon-check()
						li
							span Расстановка переносов
							+icon-check()
						li
							span Русская коллекция толковых словарей
							+icon-check()
						li
							span Свод правил русской орфографии и&nbsp;пунктуации
							+icon-check()
						li
							span Словоформы и&nbsp;характеристики
							+icon-check()
						li
							span Поиск и&nbsp;замена слов, создание автореферата и&nbsp;формирование списка ключевых слов
						li
							span Adobe InCopy, Adobe InDesign
						li
							span Орфография на&nbsp;немецком, французском, итальянском, испанском и&nbsp;португальском языках
			.products-slider__item
				article.psi
					h3.psi__title профессиональный+
					p.psi__subtitle необходимый уровень и&nbsp;даже больше
					ul.psi__list
						li
							span Проверка орфографии на&nbsp;русском, английском и&nbsp;украинском языках
							+icon-check()
						li
							span Грамматическая и&nbsp;стилистическая проверка
							+icon-check()
						li
							span Синонимы, антонимы и&nbsp;родственные слова
							+icon-check()
						li
							span Расстановка переносов
							+icon-check()
						li
							span Русская коллекция толковых словарей
							+icon-check()
						li
							span Свод правил русской орфографии и&nbsp;пунктуации
							+icon-check()
						li
							span Словоформы и&nbsp;характеристики
							+icon-check()
						li
							span Поиск и&nbsp;замена слов, создание автореферата и&nbsp;формирование списка ключевых слов
							+icon-check()
						li
							span Adobe InCopy, Adobe InDesign
							+icon-check()
						li
							span Орфография на&nbsp;немецком, французском, итальянском, испанском и&nbsp;португальском языках
			.products-slider__item
				article.psi
					h3.psi__title максимальный
					p.psi__subtitle все по&nbsp;максимуму
					ul.psi__list
						li
							span Проверка орфографии на&nbsp;русском, английском и&nbsp;украинском языках
							+icon-check()
						li
							span Грамматическая и&nbsp;стилистическая проверка
							+icon-check()
						li
							span Синонимы, антонимы и&nbsp;родственные слова
							+icon-check()
						li
							span Расстановка переносов
							+icon-check()
						li
							span Русская коллекция толковых словарей
							+icon-check()
						li
							span Свод правил русской орфографии и&nbsp;пунктуации
							+icon-check()
						li
							span Словоформы и&nbsp;характеристики
							+icon-check()
						li
							span Поиск и&nbsp;замена слов, создание автореферата и&nbsp;формирование списка ключевых слов
							+icon-check()
						li
							span Adobe InCopy, Adobe InDesign
							+icon-check()
						li
							span Орфография на&nbsp;немецком, французском, итальянском, испанском и&nbsp;португальском языках
							+icon-check()
