// Here goes BEM-block styles  .opportunities
// and it elements, modifier, pseudoselectors, @media-queries...

.opportunities {
  padding-top: 96px;
  padding-bottom: 96px;

  &--products {
    padding-top: 96px;

    div.tns-nav {
      @media(min-width: map-get($grid-breakpoints, md)) {
        bottom: 44px;
      }
    }


    .opportunity__title {
      padding-top: 28px;
      font-size: 24px;
      line-height: 1.2;

      @media(min-width: map-get($grid-breakpoints, md)) {
        font-size: 30px;
        line-height: 1.1;
      }
      @media(min-width: map-get($grid-breakpoints, lg)) {
          padding-top: 62px;
      }
    }

    .opportunity__content {
      @media(min-width: map-get($grid-breakpoints, sm)) {
        max-width: 100%;
      }
      @media(min-width: map-get($grid-breakpoints, md)) {
        max-width: 720px;
        padding-right: 0;
      }

      @media(min-width: map-get($grid-breakpoints, lg)) {
        max-width: 798px;
        padding-left: 78px;
      }
    }

    .opportunity {
      @media(min-width: map-get($grid-breakpoints, sm)) {
        display: block;
      }
      @media(min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        align-items: center;
        padding-bottom: 84px;
      }
    }


    .opportunity__media {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media(min-width: map-get($grid-breakpoints, sm)) {
        max-width: 100%;
        padding-top: 32px;
      }
      @media(min-width: map-get($grid-breakpoints, md)) {
        padding-top: 0;
        max-width: 40%;
      }

      @media(min-width: map-get($grid-breakpoints, lg)) {
        max-width: 29%;
      }
    }

    .opportunities__slider .nav {
      transform: translateY(-50%);
      top: 50%;
      @include media-breakpoint-up(md) {
        top: calc(50% - (84px / 2));
      }
    }

    .opportunity__img {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px;
      height: auto;
      left: -18px;
      margin-bottom: 24px;
      margin-right: auto;
      background-color: transparent;

      @media(min-width: map-get($grid-breakpoints, sm)) {
        left: -56px;
      }

      @media(min-width: map-get($grid-breakpoints, md)) {
        left: 0;
        margin: 0;
      }
      @media(min-width: map-get($grid-breakpoints, md)) {
        left: -24px;
      }

      img {
        width: 100%;
        @media(min-width: map-get($grid-breakpoints, lg)) {
          width: 374px;
        }
      }

      @media(min-width: map-get($grid-breakpoints, sm)) {
        width: auto;
      }
      @media(min-width: map-get($grid-breakpoints, lg)) {
        margin-bottom: 0;
      }
    }

    .opportunity__text {
      &:not(:first-of-type) {
        margin-top: 12px;
      }
      &:last-of-type {
        @media(min-width: map-get($grid-breakpoints, md)) {
          margin-bottom: 32px;
        }
        @media(min-width: map-get($grid-breakpoints, lg)) {
          margin-bottom: 64px;
        }
      }
    }
  }

  &__title {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }

  &__items {
    @media(min-width: map-get($grid-breakpoints, md)) {
      display: flex;
    }
  }

  &__item {
    padding-left: 0;
    &::before {
      display: none;
    }
  }

  &__slider {
    margin-bottom: 40px;

    .nav {
      display: none;
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    &__title {
      padding-top: 48px;
      padding-bottom: 40px;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    &__title {
      padding-top: 64px;
      padding-bottom: 56px;
    }

    &__slider {
      position: relative;
      margin-bottom: 0;

      .nav {
        position: absolute;
        z-index: 1;
        top: 30%;
        display: block;
        width: 36px;
        height: 36px;
        background: transparent;
        padding: 0;
        border: none;

        &-prev {
          left: 0;
        }

        &-next {
          right: 0;
        }
      }
    }

    &__items {
      display: block;
    }

    .tns-nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 32px;
      margin-top: 0;
    }
  }
}

.opportunity {
  display: flex;
  flex-direction: column;
  height: 100%;

  p + p,
  p + ul {
    margin-top: 12px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 19px;
  }

  &__content {
    margin-bottom: 24px;

    &.wide {
      margin-bottom: 0;
      max-width: 100%;

      @media(min-width: map-get($grid-breakpoints, md)) {
        padding-bottom: 52px;
      }

      li:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

    @media(min-width: map-get($grid-breakpoints, md)) {
      align-items: flex-start;
    }
    @media(min-width: map-get($grid-breakpoints, lg)) {
      padding-top: 52px;
      margin-bottom: 12px;
    }

    .btn {
      min-width: 252px;
      padding-right: 16px;
      padding-left: 16px;

      @media(min-width: map-get($grid-breakpoints, lg)) {
        min-width: 262px;
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 256px;

    &.desktop {
      display: none;
      @media(min-width: map-get($grid-breakpoints, md)) {
        display: inline-block;
        max-width: 224px;
      }
    }

    &.mobile {
      @media(min-width: map-get($grid-breakpoints, md)) {
        display: none;
      }
    }
  }

  &__img {
    width: 288px;
    height: 232px;
    margin-left: auto;
    margin-right: auto;
    background: rgba($white, 0.2);

    > * {
      height: auto;
    }
  }



  @media (min-width: map-get($grid-breakpoints, sm)) {
    display: flex;
    flex-direction: row;

    &__title {
      margin-bottom: 28px;
      line-height: 29px;
    }

    &__content {
      margin-bottom: 0;
      padding-right: 28px;
      flex: 1 1 50%;
      max-width: 50%;
    }

    &__text {
      // word-break: break-word;
      white-space: pre-wrap;
    }

    &__media {
      margin-top: 0;
      display: flex;
      flex: 1 1 50%;
      max-width: 50%;
    }

    &__img {
      margin-top: auto;
      margin-right: 0;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {

    &__content {
      padding-left: 72px;
      padding-right: 56px;
    }

    &__media {
      padding-top: 8px;
      padding-right: 72px;
    }

    &__img {
      width: 100%;
      height: 406px;
    }
  }
}
