mixin news-article()
	section.news-article#contact
		.news-article__content
			p
				| Морфологические библиотеки&nbsp;&mdash; объединяют несколько модулей предназначенных для морфологического анализа слов и&nbsp;позволяют решить следующие задачи:
			ul
				li #[strong Приведение слов к&nbsp;словарной форме.] Для поиска одной формы слова по&nbsp;другой его форме. Этот модуль приводит слова к&nbsp;словарной форме в&nbsp;соответствии с&nbsp;информацией из&nbsp;основного словаря или пополняемого морфологического словаря пользователя неограниченного объема. Для каждого слова дополнительно сообщается часть речи и&nbsp;4-х байтный цифровой хэш-код (hash-code), с&nbsp;помощью которого можно индексировать тексты;
				li #[strong Синтез всех форм заданного слова.] Модуль выдает все формы заданного слова, если оно находится в&nbsp;основном словаре или пополняемом морфологическом словаре пользователя неограниченного объема.
			p Библиотека позволяет провести точный анализ слов, находящихся в&nbsp;словаре ОРФО. В&nbsp;русском словаре общей лексики содержится около 180 тысяч словарных статей (лексем), в&nbsp;специализированных словарях еще около 60&nbsp;тысяч, дающих вместе более 4-х миллионов словоформ. База для украинского языка содержит около 130 тысяч лексем, для английского&nbsp;&mdash; около 115&nbsp;тысяч, для немецкого&nbsp;&mdash; 100&nbsp;тыс., итальянского&nbsp;&mdash; 80&nbsp;тыс., французского&nbsp;&mdash; 45&nbsp;тыс., испанского&nbsp;&mdash; 48&nbsp;тыс., португальского&nbsp;&mdash; 50&nbsp;тыс., португальского (Бразилия)&nbsp;&mdash; 43&nbsp;тыс. лексем. Для неизвестных слов библиотека с&nbsp;высокой степенью достоверности помогает сделать предсказание грамматических характеристик и&nbsp;парадигмы на&nbsp;основе комплекса правил словоизменения.
			h3.h4 Ключевые характеристики модуля:
			ul
				li словари общеупотребительной лексики большого объема;
				li система быстрого пополнения словаря: в&nbsp;99% случаев система сама определит тип словоизменения вводимого слова;
				li система генерации уникальных идентификаторов слов: каждому слову, известному системе, ставится в&nbsp;соответствие уникальный идентификатор, позволяющий организовать компактный индекс произвольного массива документов с&nbsp;последующим поиском, учитывающим все словоформы.
			p Библиотека поможет включить морфологический анализ в&nbsp;системы информационного поиска. Она поддерживает все возможности морфологического анализа для известных слов: определение грамматических характеристик слова, приведение к&nbsp;словарной форме, получение требуемых словоформ.
			p Продукт поставляется в&nbsp;виде динамической библиотеки (*.dll) для Windows.
			p Потестировать работу морфологических модулей on-line можно #[a(href="#" class="link link-dark underline") здесь].
		.news-article__footer
			.align-items-center.row-unbroken
				.col-sm-auto
					.news-article__col-button-read
						a(href="#").news-article__read-online.btn.btn-outline-secondary прочитать онлайн API&nbsp;модуля&nbsp;морфологии
				.col-sm
					.news-article__col-button-download
						a(href="#").link-download
							+icon('pdf', 26, 32)
							span.link-download__inner
								span.link-download__text API модуля морфологии
								span.link-download__size PDF 345 Kb

