mixin slider-about()
	.slider-about
		button.nav.nav-prev(type="button" data-about-slider-prev aria-label="Назад")
			+icon('arrow-left', 13, 24)
		button.nav.nav-next(type="button" data-about-slider-next aria-label="Вперед")
			+icon('arrow-right', 13, 24)
		ul.slider-about__items(data-about-slider)
			li.slider-about__item
				h2.slider-about__title 1995
				p.
					Корпорация Microsoft по&nbsp;лицензионному соглашению встраивает модули проверки правописания компании &laquo;ИНФОРМАТИК&raquo; в&nbsp;русский пакет Microsoft Office, а&nbsp;с&nbsp;выходом новых версий пакета Microsoft Office производит их&nbsp;обновление.
			li.slider-about__item
				h2.slider-about__title 1995
				p.
					Корпорация Microsoft по&nbsp;лицензионному соглашению встраивает модули проверки правописания компании &laquo;ИНФОРМАТИК&raquo; в&nbsp;русский пакет Microsoft Office, а&nbsp;с&nbsp;выходом новых версий пакета Microsoft Office производит их&nbsp;обновление.

