mixin products()
	.opportunities.opportunities--products
		.opportunities__slider#products
			button.nav.nav-prev(type="button" data-opportunities-prev aria-label="Назад")
				+icon('arrow-left', 18, 34)
			button.nav.nav-next(type="button" data-opportunities-next aria-label="Вперед")
				+icon('arrow-right', 18, 34)
			ul.opportunities__items(data-opportunities-slider)
				li.opportunities__item
					article.opportunity
						.opportunity__content
							h2.h3.opportunity__title Многофункциональная система проверки правописания&nbsp;ОРФО
							p.opportunity__text ОРФО&nbsp;&mdash; это уникальная система, предназначенная для проверки текстов на&nbsp;русском, украинском, английском, немецком, французском, испанском, итальянском и&nbsp;португальском языках. Включает в&nbsp;себя обширный набор лингвистических инструментов, необходимых при работе с&nbsp;текстом.
							p.opportunity__text.
								Система встраивается, дополняет и&nbsp;проверяет правописание во&nbsp;многих приложениях, поможет найти и&nbsp;исправить орфографические ошибки, правильно расставит переносы, проверит грамматику, синтаксис и&nbsp;стиль, автоматически составит реферат документа и&nbsp;выделит ключевые слова, покажет толкования слов и&nbsp;подберет синонимы и&nbsp;еще многое другое.
							a(href="#").opportunity__btn.desktop.btn.btn-primary перейти на сайт
						.opportunity__media
							.opportunity__img
								img(src="img/orfo.png" width="374" height="373" alt="Orfo")
							a(href="#").opportunity__btn.mobile.btn.btn-primary перейти на сайт
				li.opportunities__item
					article.opportunity
						.opportunity__content
							h2.h3.opportunity__title Многофункциональная система проверки правописания ОРФО
							p.opportunity__text ОРФО&nbsp;&mdash; это уникальная система, предназначенная для проверки текстов на&nbsp;русском, украинском, английском, немецком, французском, испанском, итальянском и&nbsp;португальском языках. Включает в&nbsp;себя обширный набор лингвистических инструментов, необходимых при работе с&nbsp;текстом.
							p.opportunity__text.
								Система встраивается, дополняет и&nbsp;проверяет правописание во&nbsp;многих приложениях, поможет найти и&nbsp;исправить орфографические ошибки, правильно расставит переносы, проверит грамматику, синтаксис и&nbsp;стиль, автоматически составит реферат документа и&nbsp;выделит ключевые слова, покажет толкования слов и&nbsp;подберет синонимы и&nbsp;еще многое другое.
							a(href="#").opportunity__btn.desktop.btn.btn-primary перейти на сайт
						.opportunity__media
							.opportunity__img
								img(src="img/orfo.png" width="374" height="373" alt="Orfo")
							a(href="#contact").opportunity__btn.mobile.btn.btn-primary связаться с нами
